/* ===== ESTILOS GERAIS ===== */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fdf6f8;
    color: #3d3d3d;
    margin: 0;
    padding: 0;
}

/* ===== CABEÇALHO ===== */
header {
    background-color: #eec6d9;
    padding: 1rem 0;

}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    height: 80px;
}

/* ===== MENU ===== */
.navbar ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #b87ba1;
}

/* BUSCA */
.search-box {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.search-box input {
    border: none;
    outline: none;
    padding: 6px 10px;
    border-radius: 25px;
    font-size: 14px;
    width: 150px;
}

.search-box button {
    background: none;
    border: none;
    color: #a6527a;
    cursor: pointer;
    font-size: 16px;
}

/* RESULTADOS DA BUSCA */
#search-results {
    position: absolute;
    background: #fff;
    width: 230px;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
    margin-top: 8px;
    display: none;
    max-height: 240px;
    overflow-y: auto;
    animation: fadeIn .25s ease;
    z-index: 10;
}

#search-results .item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

#search-results .item:hover {
    background: #f3d6da;
}

#search-results i {
    color: #a6527a;
}

/* FOOTER */
.footer {
    background-color: #e9b9cb;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
    color: #3d2d34;
    font-size: 14px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}